<strong>Olá, {{deliveryman}}</strong>
<p>Uma de suas entregas foi cancelada:</p>
<p>
  <strong>Encomenda: </strong>  {{product}} <br />
  <strong>Destinatário: </strong> {{recipient}} <br />
  <strong>Local: </strong>  {{street}}, {{house_number}}, {{cep}}. {{city}} - {{state}} <br />
</p>
