<strong>Olá, {{deliveryman}}</strong>
<p>Uma nova entrega foi associada à você. Confira as informções:</p>
<p>
  <strong>Encomenda: </strong>  {{product}} <br />
  <strong>Destinatário: </strong> {{recipient}} <br />
  <strong>Local: </strong>  {{street}}, {{house_number}}, {{cep}}. {{city}} - {{state}} <br />

  <p>Acesse sua conta pelo app e confirme a retirada para iniciar a entrega</p>
</p>
